# ignore everything
*

# except these files
!.gitignore

!README.md

!package.json
!yarn.lock

!babel.config.js
!eslint.config.js
!jest.config.js
!tsconfig.json

!behaviors.json

!src

!src/cmd
!src/cmd/behavior-cacher
!src/cmd/recorder
!src/cmd/recorder/testdata
!src/cmd/recorder/testdata/dummy

!src/pkg
!src/pkg/instrumenter
!src/pkg/transformer

!**/*.ts
