# ignore everything
*

# except these files
!.gitignore

!README.md

!package.json
!yarn.lock

!babel.config.js
!eslint.config.js
!jest.config.js
!tsconfig.json

!src
!src/cmd
!src/cmd/tracer
!src/cmd/tracer/testdata
!src/pkg
!src/pkg/instrumentation
!src/pkg/monkeypatch
!src/pkg/typescript

!**/*.ts

!**/*.input
!**/*.output
