# ignore everything
*

# except these files
!.gitignore

!README.md

!docker-compose.yml

!package.json
!yarn.lock

!babel.config.js
!eslint.config.js
!tsconfig.json

!jest.common.config.js
!jest.recorder.config.js
!jest.replayer.config.js

!behaviors.json

!example
!src

!src/cmd
!src/cmd/behavior-cacher
!src/cmd/recorder
!src/cmd/recorder/testdata
!src/cmd/recorder/testdata/dummy
!src/cmd/replayer

!src/pkg
!src/pkg/instrumenter
!src/pkg/mocker
!src/pkg/transformer

!**/*.ts
!**/*.json
